.product-card {
    all: unset;
    min-height: 200px;
    padding: 20px;
    display: flex;
    background: rgb(220, 220, 220);

    &__additionally {
        margin-right: 20px;
        flex-basis: 200px;
    }

        &__image {
            display: block;
            object-fit: cover;
            background: rgb(210, 210, 210);
        }

    &__wrapper {
        display: flex;
        flex-grow: 1;
    }

        &__info {
            margin-right: 20px;
            flex-grow: 1;
            /*background: #b2b2b2;*/
        }

            &__title {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 26px;
            }

            &__description {
                margin-top: 0;
                margin-bottom: 20px;
            }

        &__purchase {
            flex-basis: 200px;
            /*background: #b2b2b2;*/
        }

            &__price {
                display: block;
                margin-bottom: 20px;
                font-weight: bold;
            }
}


.product-card_mixed {

    & .product-card__wrapper {
        flex-flow: column;
    }

        & .product-card__info {
            margin-right: 0;
            flex-basis: 150px;
        }

        & .product-card__purchase {
            flex-basis: 50px;
        }

        & .product-card__price {
            margin-right: 20px;
            display: inline;
        }
}

.product-card_vertical {
    max-width: 200px;
    max-height: 350px;
    flex-flow: column;

    & .product-card__additionally {
        margin-right: 0;
        margin-bottom: 20px;
        flex-basis: 200px;
    }

    & .product-card__wrapper {
        flex-flow: column;
        justify-content: space-between;
    }

        & .product-card__info {
            margin-right: 0;
            flex-basis: auto;
        }

        & .product-card__title {
            font-size: 18px;
        }

        & .product-card__description {
            display: none;
        }

        & .product-card__purchase {
            margin-right: 0;
            flex-basis: 50px;
        }
}
