extends ../layout.pug
block content
        include ../../modules/library/common/button/_x-large/_x-large.pug
        include ../../modules/library/common/button/_large/_large.pug
        include ../../modules/library/common/button/button.pug
        include ../../modules/library/common/button/_small/_small.pug
        include ../../modules/library/common/button/_x-small/_x-small.pug
        include ../../modules/library/common/button/_ghost/_ghost.pug
