@import url("../../variables.css");

.button {
    all: unset;

    border-width: 1px;
    border-style: solid;
    border-color: $color1;
    border-radius: 2px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    display: inline-block;
    position: relative;

    font-weight: normal;
    font-size: 100%;
    line-height: 100%;
    font-family: inherit;

    text-align: center;
    white-space: nowrap;

    color: inherit;
    background-color: $color1;

    user-select: none;

    &:hover {
        border-color: $color2;
        background-color: $color2;
    }

    &:active,
    &:focus {
        border-color: $color3;
        background-color: $color3;
    }

    ::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
