@import url("../../variables.css");

.button {
    all: unset;
    border-width: 1px;
    border-style: solid;
    border-color: $btn-color;
    border-radius: 2px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    font-weight: normal;
    font-size: 100%;
    line-height: 100%;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: $btn-color;
    user-select: none;

    &:hover,
    &focus {
        border-color: $btn-color-hover;
        background-color: $btn-color-hover;
    }

    &:active {
        border-color: $btn-color-active;
        background-color: $btn-color-active;
    }

    ::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
