@import url("../../variables.css");


/* comment */
.button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-radius: 2px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    font-weight: normal;
    line-height: 100%;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(220, 220, 220);
    user-select: none;

    &:link,
    &:visited,
    &:active {
        border-color: rgb(220, 220, 220);
        background-color: rgb(220, 220, 220);
    }

    &:hover,
    &:focus {
        border-color: rgb(200, 200, 200);
        background-color: rgb(200, 200, 200);
    }


    ::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
