.button_ghost {
    color: rgb(220, 220, 220);
    background: transparent;

    &:link,
    &:visited,
    &:active {
        border-color: rgb(220, 220, 220);
        background-color: transparent;
    }

    &:hover,
    &:focus {
        border-color: rgb(200, 200, 200);
        color: rgb(200, 200, 200);
        background-color: transparent;
    }
}
