.button_ghost {
    color: $btn-color-hover;
    background: transparent;

    &:hover,
    &focus {
        border-color: $btn-color-hover;
        background-color: transparent;
    }

    &:active {
        border-color: $btn-color-active;
        background-color: transparent;
    }
}
