.breadcrumbs {
    all: unset;
    display: flex;
    color: inherit;

    &__item {
        position: relative;
        list-style: none;
        color: inherit;

        &:not(:last-child)::after {
            content: "→";
            margin-left: 10px;
            margin-right: 10px;
            float: right;
        }
    }
    &__link {
        color: inherit;
    }
}
