.breadcrumbs {
    display: flex;

    &__item {
        position: relative;

        &:not(:last-child)::after {
            content: "→";
            margin-left: 10px;
            margin-right: 10px;
            float: right;
        }
    }

    &__link {
        cursor: pointer;

        &:link,
        &:visited,
        &:active {
            text-decoration: underline;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
