ul(class="breadcrumbs")
    li(class="breadcrumbs__item")
        a(class="breadcrumbs__link", href="#") Index
    li(class="breadcrumbs__item")
        a(class="breadcrumbs__link", href="#") Category
    li(class="breadcrumbs__item") Subcategory
