extends ../layout.pug
block content
    form
        input(type='number' style='border: 1px solid red;')
        input(type='submit' name='submit')
    br
    br
    div(style="font-size: 18px; font-weight: bold; padding: 30px; display: block;") Default Mode
    include ../../modules/library/common/news-card/news-card.pug
    +news-card('')
    br
    div(style="font-size: 18px; font-weight: bold; padding: 30px; display: block;") Vertical Mode
    br
    +news-card('news-card_vertical')
    br
    div(style="font-size: 18px; font-weight: bold; padding: 30px; display: block;") Right Image Mode
    br
    +news-card('news-card_right-img')
    br
    br
    include ../../modules/library/common/pagination/pagination.pug
    br
    +pagination('')
    br
    +pagination('pagination_center')
    br
    +pagination('pagination_right')