.form-item
    label.form-item__label(for="1") Название поля
    .form-item__wrapper
        input.form-item__input(id="1" type="text" name="text" placeholder="placeholder" minlength="" maxlength="" pattern="" value="")
        .form-item__message Текстовое сообщение
