mixin news-card(mode)
    article.news-card(class=mode)
        a.news-card__link.news-card__additionally(href='#')
            img.news-card__img(src='http://www.petbabynames.com/wp-content/uploads/2016/07/venus.jpg' alt='Image description')
        .news-card__wrapper
            time.news-card__date(datetime="2017-02-14") 15 нояб. 2016 г.
            h2.news-card__title
                a.news-card__link.news-card__title-link(href='#') Скидки акции и прочее. Рассрочка 3 года
            p.news-card__description Продукт, как принято считать, синхронизирует потребительский рынок. Как предсказывают футурологи каждая сфера рынка раскручивает креативный PR. Контент, согласно Ф.Котлеру, транслирует бренд. Партисипативное планирование, отбрасывая подробности, определяет conversion rate.
            span.news-card__view 123

