mixin news-card(mode)
    article.news-card(class=mode itemscope itemtype="http://schema.org/NewsArticle")
        a.news-card__link.news-card__additionally(href='#')
            img.news-card__img(itemprop="image" src='http://www.petbabynames.com/wp-content/uploads/2016/07/venus.jpg' alt='Image description')
        .news-card__wrapper
            time.news-card__date(datetime="2017-02-14" itemprop="datePublished") 15 нояб. 2016 г.
            h2.news-card__title(itemprop="name")
                a.news-card__link.news-card__title-link(href='#') Скидки акции и прочее. Рассрочка 3 года
            p.news-card__description(itemprop="description") Продукт, как принято считать, синхронизирует потребительский рынок. Как предсказывают футурологи каждая сфера рынка раскручивает креативный PR. Контент, согласно Ф.Котлеру, транслирует бренд. Партисипативное планирование, отбрасывая подробности, определяет conversion rate.
            .news-card__stat(itemscope itemtype="http://schema.org/InteractionCounter")
                span.news-card__view(itemprop="userInteractionCount" content="123") 123

